<input (ngModelChange)="onSearch()" [(ngModel)]="cityName" placeholder="city name" type="text">
<button (click)="onSearch()" type="button">search</button><br>

<hr>

<div class="selectableCityList">
  @for (city of citiesFound; track (city.country + "/" + city.name)) {
    <button class="" type="button" (click)="onSelect($index)">{{ city.name }}</button>
  } @empty {
    @if (cityName.length > 0 && searchPushed) {
      <span>No results...</span>
    } @else {
      <span>A list of cities will be displayed here...</span>
    }
  }
</div>

<hr>

@if (selectedCity && displayedCity) {
  <h2>{{ selectedCity.name }}, {{ selectedCity.country }},
    <app-flag-display [countryCode]="selectedCity.country_code" [flagIcon]="selectedCity.flagIcon"></app-flag-display>
    ({{ selectedCity.timezone }})
  </h2><br>
  <span>{{ selectedCity.longitude }} / {{ selectedCity.latitude }}</span><br>
  <p>{{ displayedCity.current.temperature_2m }} {{ displayedCity.current_units.temperature_2m }}
    ({{ displayedCity.current.time }})</p>
}
